source https://api.nuget.org/v3/index.json

redirects: force

nuget FluentMigrator 3.2.6
nuget FluentMigrator.Tools 3.2.6
nuget FSharp.Configuration
nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.Data.TypeProviders
nuget FsUnit
nuget Microsoft.TypeScript.MSBuild
nuget Newtonsoft.Json
nuget NUnit
